<div id="page_wrapper">

  <div id="content">
    <h1>Hey, I'm Ken McFadden</h1>
    <p>Welcome to my blogger.</p>
    <p>This is a blog framework/skeleton so to speak.</p>
    <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/eaglerockdude">@eaglerockdude</a> </p>
  </div>
</div>